@import 'MyFontsWebfontsKit.less';
// Mixins and variables

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
@accentcolor: #ff4779;
@neutralcolor: #999;
@panelcolor1: #f4f4f4;
@panelcolor2: #e9e9e9;

// Typography

body {
	font-family: "roboto",sans-serif;
	padding-bottom: 0;
	color: #333;
}

a {
	color: @accentcolor;
}

a:hover {
	color: @accentcolor;
	.opacity(0.7);
	text-decoration: none;
	transition: opacity .2s ease-in-out;
	   -moz-transition: opacity .2s ease-in-out;
	   -webkit-transition: opacity .2s ease-in-out;
}
a:focus {
	color: inherit;
	text-decoration: none;
}

// Logo in header
.navbar-inverse .navbar-brand {
	img {
		width: 150px;
	}
}

// Logo in footer

.footer .navbar-brand {
	padding: 0 20px 0 0;
	img {
		width: 150px;
	}
}


// Sections

.marketing, .services, .about, .content-main {
	padding: 50px 15px 70px 15px;
	color: #000;
	h2 {
		font-size: 2.4em;
		font-family: "Lato",sans-serif;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 0;
		font-weight: 600;
	}
	p {
		line-height: 170%;
		font-size: 1.1em;
	}
}

.services {
	ul {
		li {
			margin-bottom:15px;
		}
	}
}

// Buttons

.btn {
	font-family: "roboto",sans-serif;
}
.btn.altcolor {
	border: 2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-size: .5em;
	letter-spacing: 1px;
	.border-radius(3px);
}
.featurette {
	.btn.altcolor {
		font-size: 0.8em;
		font-weight: bold;
	}
}
.featurette.even  {
	a:focus {
		color:#ff4779;
	}
	.btn.altcolor {
		border: 2px solid #000;
		color: #000;
	}

}


// Featurettes

.featurette {
	&.odd {
		background-color: @accentcolor;
		hr.header-decoration {
			border: 2px solid #1d1d1d;
			width: 35px;
			margin: 15px auto 15px 0;
		}
		p, h2 {
			color: #fff;

			.pink-link {
				color:#fff;
				opacity:.5;
			}
		}
	}
	hr.header-decoration {
		border: 2px solid @accentcolor;
		width: 35px;
		margin: 15px auto 15px 0;
	}
	.row{
		.col-md-6 {
			padding: 0;
		}
		.lead {
			font-size: 1.1em;
			line-height: 150%;
		}
		.content {
			padding: 20px 50px;
		}
	}
	.subhead span {
		text-transform: uppercase;
		.opacity;
	}
}

.featurette-heading {
	font-family: "LeituraDisplay-Roman",serif;
	font-weight: 400;
	font-size: 1.6em;
	text-rendering: optimizeLegibility;
	line-height: 125%;
	letter-spacing: 0.5px;
	margin-bottom: .2em;
}

// Header decoration

.marketing, .services, .about, .content-main {
 	hr.header-decoration {
		border: 2px solid @accentcolor;
		width: 70px;
		margin: 15px auto 40px auto;
	}
}


// Navbar

.navbar-inverse {
	.navbar-collapse {
		border-color: rgba(255,255,255,0.2);
	}
	.navbar-toggle {
		&:hover, &:focus {
			background-color: transparent;
			.opacity(0.7);
		}
	}
	.navbar-nav>li>a {
		color: #fff;
	}
}

.navbar-wrapper {
	margin: 0;
	.navbar {
		padding-top: 10px;
		font-size: 1.1em;
		.navbar-nav {
			padding-top: 5px;
		}
		h1 {
			margin: 0;
			span {
				margin-left: -9999em;
			}
		}
		border-radius: 0;
	}

}



.navbar-inverse {
	background: none;
	border: none;
}

.navbar-toggle {
	padding-top: 13px;
	border: none;
}

.subpage .navbar {
	background-color: #000;
	padding-bottom: 10px;
}

// Hide carousel indicators

.carousel-indicators {
	display: none;
}


// Hero image size and color

.carousel {
  height: 600px;
  margin-bottom: 0;
}
.carousel .item {
  height: 600px;
  background: #402d32;
 }
.carousel-inner > .item > img {
		max-width: none;
		height: 600px;
}


// Hero text and buttons


.carousel-caption {
	text-shadow: none;
	img {
		margin-bottom: 30px;
	}
	p {
		font-family: "LeituraDisplay-Roman",serif;
		font-weight: 400;
		font-size: 2.1em;
		letter-spacing: 0.5px;
		text-rendering: optimizeLegibility;
		line-height: 125%;
		max-width: 470px;
		margin-left: auto;
		margin-right: auto;
		&:first-of-type {
			margin-bottom: 40px;
		}
	}
	.social {
		margin-bottom: 40px;
		a {
			margin-right: 15px;
			&:last-child {
				margin: 0;
			}
		}
		.fa {
			font-size: 1.4em;
			color: #fff;
		}
	}
	.scroll-arrow {
		font-size: 3em;
		a {
			color: #fff;
		}
	}
	.btn {
		font-size: 1em;
		margin-bottom: 15px;
	}
}


// Four steps

.marketing .steps {
	 font-weight: normal;
	 img {
		 margin-bottom: 20px;
		 max-height: 140px;
	 }
	.col-lg-3 {
		margin: 0;
		padding: 0 20px 30px 20px;
		text-align: center;
	}
}

// Content sections

.services, .about {
	background-color: @panelcolor1;
}
.content-main {
		margin-top: 50px;
}

// Footer

section.footer {
	position: relative;
	color: @neutralcolor;
	padding: 30px 0;
	background-color: @panelcolor2;

	.nav {
		display: inline-block;
		width: 100%;
		margin: 0 0 10px 0;
		a {
			margin-right: 20px;
		}
	}

	.social {
		font-size: 1.8em;

		a {
			color: @neutralcolor;
		}

		i {
			margin-right: 15px;
		}
	}

	.copyright {
		display: inline-block;
		font-size: 0.8em;
		width: 100%;
	}

	.madeby {
		bottom: -2px;
		cursor: pointer;
		font-size: 0.8em;
		height: 20px;
		position: absolute;
    right: 30px;
  	width: 136px;

		&-logo {
			background: rgba(255, 255, 255, 0.1);
			opacity: .5;
			position: absolute;
	    right: -8px;
			top: 0px;
	    transition: all .2s;
			width: 60px;
 		}

		&-text, &-hello {
			left: 0;
	    position: absolute;
			text-decoration: none;
	    top: 2px;
	    transition: all .2s;
		}

		&-hello {
			opacity: 0;
    		top: -20px;
		}

		&:hover  {
			.madeby-text {
				opacity: 0;
    			top: 20px;
			}

			.madeby-hello {
				opacity: 1;
    			top: 0;
			}

			.madeby-logo {
				opacity: 1;
			}
		}
	}
	.container {
		padding: 0 30px;
		position: relative;
	}
}

// Add this class to an <a id="..."> to offset it a bit so that the sticky navbar doesn't 
// obscure what we're linking to. 
.sticky-anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}


// Responsive

@media (min-width: 768px) {
	.navbar>.container .navbar-brand {
	}
	section.footer {
		.nav {
			float: left;
			width: auto;
			margin: 8px 0 0 0;
		}
		.social {
			float: right;
			font-size: 1.8em;
			i {
				margin-right: 0;
				margin-left: 15px;
			}
			a {
				color: @neutralcolor;
			}
		}
		.container {
			padding: 0 30px;
		}
	}
}
@media (min-width: 992px) {
	.marketing .steps {
			.col-lg-3 {
				width: 25%;
				float: left;
				position: relative;
				min-height: 1px;
				background: 0 25% url("../images/icon-chevron.png") no-repeat;
				&:first-of-type {
					background-image: none;
				}
				img {
						max-height: 100px;
				}
			}
	}
	.services, .about {
		.container p {
			width: 60%;
			margin: 0 auto 20px;
			text-align: center;

			&:last-child {
				margin-bottom:0;
			}
		}
	}

	.services {
		&-list {
			width:73%;
			margin:0 auto;
		}
		ul {
			width:45%;
			float:left;

			&:first-child {
				width:40%;
				margin:0 10% 0 5%;
			}
		}
	}

	.services, .about, .marketing {
			padding: 50px 0 70px 0;
	}
	.content-main .container {
		padding: 0 100px;
	}
	.featurette.odd {
		text-align: right;
		hr.header-decoration {
			margin: 15px 0 15px auto;
		}
	}
	.featurette-heading {
		margin-top: 57px;
	}
}

@media (min-width: 1450px) {
	.carousel-inner > .item > img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    min-width: 100%;
	    height: auto;
	    max-width: 100%;
  	}
  	.content-main .container {
  		padding: 0 150px;
  	}
}


@media (min-width: 768px) and (max-width: 992px) {
	.featurette {
		.container {
			width: auto;
		}
		.row .content {
		    padding: 20px 15px;
		    margin-left: auto;
		    margin-right: auto;
		    width: 750px;
		}
	}
}

@media (max-width: 992px) {
	.carousel-inner > .item > img {
		left: -25%;
	}
}

@media (max-width: 768px) {
	.carousel-inner > .item > img {
		left: -50%;
	}
	.carousel, .carousel .item, .carousel-inner > .item > img {
	  height: 570px;
	}
	.navbar .nav {
		background-color: #000;
		padding-bottom: 10px;
	}
	.featurette .row .content {
		padding-left: 30px;
		padding-right: 30px;
	}

	section.footer .madeby {
		position: relative;
		bottom: auto;
		right: auto;
		margin-top: 10px;
	}
}

@media (max-width: 375px) {
	.carousel-inner > .item > img {
		left: -180%;
	}
}
